:root {
    --background-main: #efefef;
    --text-color: #0e3247;
    --special-color: #00a1d3;
    font-family: PP Formula ;
}


.error-header {
    background-color: var(--background-main);
}


.error-summary {
    display: flex;
    justify-content: center;
    align-items: center;
}